.NavBar {
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255,255,255,0.1);
    padding: 0px 2vw;
    box-shadow: 0px 0px 40px 0px #111;
}

.Logo {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Quicksand';
    color: #fff;
}

.NavItemsWrap {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.NavItems {
    font-size: 15px;
    font-family: 'Quicksand';
    color: rgb(200,200,200);
    cursor: pointer;
    margin: 0px 25px;
    transition: 0.2s ease;
}

.NavItems:hover {
    color: #fff;
}

.LoginBtn {
    color: #111;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Poppins';
    padding: 5px 10px;
}