.RegisterWrap {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register {
    width: 90%;
    max-width: 420px;
    height: auto;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 20px 50px 2px #000;
}

.RegBanner {
    padding: 50px 0px;
    text-align: center;
    font-size: 44px;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: darkorange;
}

.RegForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputWrap {
    display: flex;
    width: 90%;
    margin: 10px 0px;
    background-color: gainsboro;
    overflow: hidden;
    border-radius: 10px;
}

.InputIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    font-family: 'Quicksand';
    font-size: 22px;
}

.InputWrap input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 16px;
    font-family: 'Quicksand';
    color: #000;
    padding: 5px 10px;
    background-color: transparent;
    font-weight: bolder;
}

.InputWrap input:focus-within {
    border: none;
}

.RegBtn {
    width: 200px;
    background-color: orange;
    color: #fff;
    font-weight: bolder;
    font-family: 'Quicksand';
    border: none;
    border-radius: 22px;
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.RegToLogin {
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: bolder;
    margin-bottom: 20px;
    text-decoration: none;
    text-decoration-color: #000;
}